/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4f4f4;
}

/* Navigation Styles */

nav {
    background: linear-gradient(
    to bottom,
    rgb(168, 168, 168),
    rgba(143, 143, 143, 0)
    );
    display: flex;
    align-items: center;
    padding: 40px 80px 25px;
    opacity: 0;
    animation: slideInTop 0.6s ease-out forwards;
    animation-delay: 2s;
}

@keyframes slideInTop {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.nav-left, .nav-right {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-right {
    margin-left: auto;
    gap: 35px;
}

.nav-left {
    gap: 90px;
}

nav ul li a {
    font-family: 'Grandstander';
    font-size: 35px;
    color: black;
    text-decoration: none;
}

nav ul li a:hover {
    color: #555;
}
nav ul li a img {
    width: 50px;
    height: 50px;
    display: block;
}

/* Header Styles */

header h1 {
    text-align: center;
    color: black;
    font-family: 'Darumadrop One';
    font-size: 85px;
    letter-spacing: 15px;
}

.name {
    opacity: 0;
    animation: gentleIn 0.6s ease-in-out forwards;
    animation-delay: 0.75s;
}
@keyframes gentleIn {
  0% {
    opacity: 0;
    transform: scale(0.5) translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

.subject {
    opacity: 0;
    animation: gentleIn 0.6s ease-in-out forwards;
    animation-delay: 1s;
}
@keyframes gentleIn {
  0% {
    opacity: 0;
    transform: scale(0.5) translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

header img {
    display: block;
    margin: 20px auto;
    height: 375px;
    transform-origin: center;
    opacity: 0;
    animation: bounceInSpring 0.8s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
    animation-delay: 0.1s;
}

@keyframes bounceInSpring {
  0% {
    transform: scale(0.5) translateY(0);
    opacity: 0;
  }
  40% {
    transform: scale(1.2) translateY(0);
    opacity: 1;
  }
  60% {
    transform: scale(0.9) translateY(0);
  }
  80% {
    transform: scale(1.05) translateY(0);
  }
  100% {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}

header h2 {
    text-align: center;
    color: black;
    font-family: 'Gaegu';
    font-weight: 400;
    font-size: 48px;
    margin: 10px;
    opacity: 0;
    animation: slideInBottom 0.6s ease-out forwards;
    animation-delay: 1.5s;
}

@keyframes slideInBottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Section Styles */

h2 {
  margin: 150px 50px 20px 20px;
  font-family: 'Grandstander';
  font-size: 80px;
  text-align: left;
  color: rgb(23, 28, 36);
  line-height: 1.5;
}

#work section {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 150px 50px 100px 50px;
    padding: 50px;
}


